<!DOCTYPE html>
<html>
    <head>
        <title>Shopping List</title>
        
        <link href="main.css" rel="stylesheet">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link rel="shortcut icon" href="https://www.officedepot.com/resource/image/139030/portrait_ratio1x1/250/250/b3a57d3f915ab5b0b3a68e4c6811ce91/ql/in-store-pickup-cart.jpg" type="image/x-icon" />
        
        <script src="scripts.js"></script>
    </head>
    <body ng-app="myShoppingList">
        <div class="jumbotron jumbotron-fluid text-center">
          <div class="container">
            <h1>Shop 'Til You Drop!</h1>
          </div>
        </div>
        <div class="container" ng-controller="myLCtrl" style="background: rgba(255, 255, 255, 0.7); border-radius: 10px; padding: 20px;">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Enter a store name to create a list!</h5>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Store" aria-label="" aria-describedby="basic-addon1" ng-model="addL">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" ng-click="addList()">Add</button>
                        </div>
                    </div>
                    <p>{{errorlist}}</p>
                </div>
                
                <div class="col-sm-6">
                    <h5>Current Lists:</h5>
                    <div class="card" ng-repeat="y in lists">
                        <h3>{{y}}<button type="button" class="btn btn-outline-success btn-sm" style="float: right" ng-click="removeList($index)">Remove List</button></h3>
                        <div class="container"  ng-controller="myPCtrl">
                        <ul style="list-style-type:none">
                            <li ng-repeat="x in products">
                                <button type="button" class="btn btn-outline-success" style="padding-top: 5px; padding-bottom: 5px" ng-click="removeItem($index)">x</button>
                                <p1>{{x}}</p1>
                            </li>
                        </ul>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Item" aria-label="" aria-describedby="basic-addon1" ng-model="addMe">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" ng-click="addItem()">Add</button>
                            </div>
                        </div>
                        <p>{{errortext}}</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <h2>Welcome to your online shopping list!</h2>
                    <p>Never forget what you need to buy and from where ever again! Just don't forget to put it 
                    on the list to begin with!<br>Works on mobile, too!</p>
                </div>
            </div>
        </div>
    </body>
</html>

