.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 24px;
  overflow: hidden;
}

h3 {
    padding: 15px;
}

p1 {
    padding: 10px;
}

body {
    background-image: url("https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/thegrocerant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}